/*Color theme for site: Neon Tones with Sharp Contrast*/
/*Black: Void: #0E0B16*/
/*Magenta: Fuschia: #A239CA*/
/*Blue: Jewel: #4717F6*/
/*Grey: Stark: #E7DFDD*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #0E0B16;
    font-family: "Inter", sans-serif;
    height: 3000px;
    padding-top: 60px;
}

.header {
    background-color: Black;
    border-bottom: 1px solid Black;
    position: fixed;
    top: 0;
    width: 100%;
    color: #E7DFDD;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}

.pfp {
    font-size: 25px;
    letter-spacing: -1.5px;
    font-weight: 600;
}

.nav {

}

.nav__list {
    display: flex;
    column-gap: 40px;
}

.nav__item {
}

.nav__link {
    color: #E7DFDD;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.4s;
}

.nav__link:hover {
    color: rgb(110, 110, 110);
}

.main {
    margin-top: 80px;
    text-align: center;
}

.heading {
    color: #A239CA;
    font-size: 70px;
    margin-bottom: 20px;
}

.text {
    line-height: 1.6;
    font-size: 20px;
    max-width: 80%;
    margin: 0 auto;
}